/* Definição das variáveis de cores */
:root {
  --color1: #584f7a;
  --color2: #451343;
  --color3: #ffffff;
  --color4: #c499c7;
  --color5: #30254e;
  --color6: #6a002a;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
 overflow-x: hidden;
 font-family: 'Lexend Deca', sans-serif !important;
}

#inicio{
  height: 100vh; /* Defina a altura da primeira seção como 100% da altura da viewport */
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.efeito {
  position: absolute;
  height: 100%;
  width: 100%;
}

.efeito::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(18, 0, 84, 0.936),rgba(78, 24, 178, 0.596));
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}

.nav-item>.nav-link:focus, .nav-item>.nav-link:hover {
  color: #ffffff30 !important;
}

.nav-item > .nav-link {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.nav-item:not(:last-of-type) {
  margin-right: 2px;
}

.nav-item > .nav-link::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 1px;
  background: #ffffff;
  bottom: -6px;
  left: 0;

  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;

  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.nav-item > .nav-link:hover::before,
.nav-item > .nav-link.active::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.nav-item > .nav-link::before {
  background: #ffffff;
}

.nav-item.icon a:hover .icon {
  filter: brightness(0.6);
}

.nav-item.icon{
  margin-right: 20px;
  margin-left: 0px;
  padding-right: 5px;
}

.nav-item.icon.icon-2{
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 5px;
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; /* Defina o valor desejado para o máximo de largura */
}

.marca {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color3);
}

.slogan {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2%;
  color: var(--color3);
}

p{
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color3);
}

p {
  margin: 0%;
  margin-bottom: 0%;
}

div.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);  
  padding-bottom: 5%;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none !important;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 12rem; /* Largura do botão retangular */
  height: 3rem; /* Altura do botão retangular */
  background: linear-gradient(50deg, #22045b, #0d001d);
  border-radius: 5rem; /* Valor ajustável para o arredondamento das bordas */
}

button.learn-more .circle .icon {
  /* Utilize apenas a classe do Font Awesome, sem o .fa-solid */
  font-size: 1.125rem; /* Defina o tamanho do ícone conforme necessário */
  line-height: 3rem; /* Ajuste a altura de acordo com a altura do botão */
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transform-origin: center; /* Define o ponto de origem da transformação */
  transform: scale(1); 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding-left: 1rem; /* Ajuste a posição do ícone conforme necessário */
  color: var(--color3); /* Defina a cor do ícone */
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--color3);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  background-color: var(--color3); /* Ajuste a cor do fundo do botão quando hover */
}

button:hover .circle .icon {
  transform: scale(2);
  color: #3b23ef; /* Ajuste a cor do ícone quando hover */
}

button:hover .button-text {
  color:#3b23ef;
}

#services{
  height: 110vh; /* Defina a altura da segunda seção como 100% da altura da viewport */
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(84, 58, 180), rgba(13, 2, 51, 0.936),rgba(2, 4, 56, 0.842));
 
}

.accordion{
  padding-top: 13%;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion-item {
  background: transparent !important;
  box-shadow: none;
  border-top: 1px solid #ffffff !important; 
  border-left: 0  !important;
  border-right: 0  !important;
  border-radius: 0 !important ;
 
}

.accordion-item:last-child {
  border-bottom: 1px solid #ffffff !important;
}

.accordion-body{
  background: transparent !important;
  color: #ffffff !important;
  font-size: 1rem;
}

strong{
  color: #5900ff;
  font-weight: 700;
}

.accordion-button{

  background-color: transparent !important;
  border: transparent !important;
  font-size: 1rem;
  color: #ffffff !important;
  outline: none !important;
  font-weight: 500;
}

.accordion-button:active, .accordion-button:focus{
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:hover{  
  background: transparent !important;
}

.accordion-button:not(.collapsed)::after {
  background: none;
  color: none;
  box-shadow: none;
  animation: zoomInOut 0.5s forwards;
  transform: scale(10.45s)!important;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.accordion-button::after {
  background-image: none !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f1b0" !important;
 
}

/* O estilo abaixo é apenas para mostrar que a pata volta ao estado inicial quando o botão não está ativo */
.accordion-button.collapsed::after {
  transform: none !important;
}

.texto-servicos{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  max-width: 700px; 
  margin: 0;
}

.h2-servicos{
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.p-servicos{
  font-size: 1rem;
  color: #ffffff;
}

.img-service{
  margin: 100px 30px 0px 0px;
  float: left;
  height: 450px;
}

.img-service2{
  margin: 300px 30px 0px 0px;
  float: right;
  height: 450px;
}

.btn-servicos{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 20px;
}
  
.button-servicos {
  padding: 15px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #4623e6;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button-servicos:hover {
  background-color: #001693;
  box-shadow: 0 0 20px #6028e250;
  transform: scale(1.1);  
}

.button-servicos:active {
   background-color: #001693;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

#marca {
  height: 100vh; /* Defina a altura da segunda seção como 100% da altura da viewport */
  width: 100%;
  position: relative;
  overflow: hidden;
}

.side-left,
.side-right {
  width: 50%; /* Divide a seção em dois lados iguais */
  height: 100%;
  float: left;
}

.side-left {
  position: relative;
  background: linear-gradient(rgba(2, 4, 56, 0.842), rgba(13, 2, 51, 0.936),rgb(84, 58, 180));
}

.side-right {
  position: relative;
  background: linear-gradient(rgba(2, 4, 56, 0.842), rgba(13, 2, 51, 0.936),rgb(84, 58, 180));
}

.texto-marca {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 800px; 
  padding: 0px 10px 100px 30px;
}

.h2-marca {
  padding: 0px 0px 20px 40px;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700; 
  max-width: 500px; 
}

.p-marca {
  padding: 0px 0px 0px 0px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}

.img-blob{
  position: absolute; /* Posição absoluta dentro da div .side-right */
  top: 0; /* Posiciona no topo da div */
  right: 0; /* Posiciona no lado direito da div */
  width: 100%; /* Ajusta o tamanho para preencher a div */
  height: 100%; /* Ajusta o tamanho para preencher a div */
  margin: 10px 10px 10px 10px;
}

.img-catAnimation {
 position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.btn-marca{
  position: absolute;
  bottom: 0;
  left: 25%; /* Centraliza o botão na metade da largura da div pai */
  transform: translateX(-50%); /* Centraliza o botão horizontalmente */
  margin-bottom: 150px;
}
 
.button-marca {
  padding: 15px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #4623e6;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button-marca:hover {
  background-color: #001693;
  box-shadow: 0 0 20px #6028e250;
  transform: scale(1.1);  
}

.button-marca:active {
   background-color: #001693;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* Estilize o texto ou a imagem conforme necessário para um melhor ajuste estético */

/* 
.social-container {
  padding: 2% 0% 0% 15%;
}

.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: var(--color1);
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(55deg, var(--color3), var(--color3));
  transition: all 265ms ease-out;
}

.social-icons a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(50deg, var(--color3), var(--color3));
  opacity: 0;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  opacity: 1;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(1.8);
  color: var(--color6);
  background: linear-gradient(45deg, var(--color6));
  transition: all 265ms ease-in;
}
