/* Definição das variáveis de cores */
:root {
  --color1: #584f7a;
  --color2: #451343;
  --color3: #ffffff;
  --color4: #c499c7;
  --color5: #30254e;
  --color6: #6a002a;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.side {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #71002d,
    #6a002a,
    #5a0539,
    #451343,
    #2d1a45,
    #30254e,
    #332f57,
    #373960,
    #584f7a,
    #7b6794,
    #9f7fae,
    #c499c7
  );
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

img.imagem {
  height: 550px;
  width: 500px;
  float: right;
  margin: 10%;
}

div.texto {
  text-align: left;
  padding: 10% 0% 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color3);
}

.marca {
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.slogan {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2%;
  color: var(--color3);
}

p.fw-bolder {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

p {
  margin: 0%;
  margin-bottom: 0%;
}
div.button-container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5% 0% 1% 20%;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none !important;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 12rem; /* Largura do botão retangular */
  height: 3rem; /* Altura do botão retangular */
  background: linear-gradient(50deg, #fffcfcd7, var(--color3));
  border-radius: 5rem; /* Valor ajustável para o arredondamento das bordas */
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--color3);
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--color1);
  border-right: 0.125rem solid var(--color1);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--color1);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: var(--color6);
  transform: translate(1rem, 0);
}

button.learn-more:hover .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--color6);
  border-right: 0.125rem solid var(--color6);
  transform: rotate(45deg);
}

button:hover .button-text {
  color: var(--color6);
}

/* Estilos dos ícones de mídia social */
.social-container {
  padding: 2% 0% 0% 15%;
}

.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: var(--color1);
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(55deg, var(--color3), var(--color3));
  transition: all 265ms ease-out;
}

.social-icons a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(50deg, var(--color3), var(--color3));
  opacity: 0;
  transition: all 265ms ease-out;
}

/* Efeito hover nos ícones de mídia social */
.social-icons a:hover:before {
  transform: scale(0);
  opacity: 1;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(1.8);
  color: var(--color6);
  background: linear-gradient(45deg, var(--color6));
  transition: all 265ms ease-in;
}

div.container-navbar {
  padding-top: 0%;
  padding-right: 5%;
  size: 0cap;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}
